body {
  background-color: tan;
  padding: 5px;
}

p {
  font-family: arial;
  font-size: 15px;
  color: black;
}

div.body {
  background-color: white;
  width: 900px;
  color: black;
  text-align: justify;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-size:18px;
}

.nav-button{
  background-color: white;
  padding: 2.5px;
  font-size: 20px;
}

.nav-button:active {
  background-color: grey; /* Change this color to the desired pressed color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header {
  position: relative;
  text-align: center;
  width: device-width;
  
}

.header-text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Helvetica, sans-serif;
  width: 100%;
  
}

nav {
  background-color: white;
  width: device-width;
  color: black;
}

img.research{
  width: 40%;
  height: 40%;
  vertical-align: top;
  float: left; 
  padding: 0px;
  margin-right: 7.5px;
  margin-bottom: 0.0px;
}

img.astrophotography{
  vertical-align: top;
  float: center; 
  padding: 0px;
  width: 100%;
  height: auto;
  
}

@media screen and (max-width: 900px) {
  div.body {
    width: 90%;
    padding: 2%;
  }
  .header {
    width: 90%;
    padding-top: 20%;
    padding-bottom: 20%;
    font-size: 25px;
    height:200px;
  }
  .nav-button{
  background-color: white;
  padding: 2.5px;
  font-size: 25px;
  }
}

a.nav-link:link
{
   color: black;
   text-decoration: none;
}
a.nav-link:visited
{
   color: black;
   text-decoration: none;
}
a.nav-link:hover
{
   color: black;
   text-decoration: none;
}
a.nav-link:active
{
   color: black;
   text-decoration: none;
}


.aside {
  float: left;
  margin: 0 1.5%;
  width: 10%;
}


#background-image{
  background-repeat: no-repeat; 
  float: center; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 621px; 
  height: 415px;
  @media screen and (max-width: 900px) {
     width: auto; 
     height: auto;
    }
}

#baseball-content{
  text-align: left;
  font-size: 12pt;
  padding-right: 1px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 160px;
  background-color: grey;
}

#result-content{
  text-align: center;
  font-size: 12pt;
  padding-right: 1px;
  padding-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  background-color: grey;
  @media screen and (max-width: 900px) {
     width: 75%; 
    height: 75%;
    }
}

#strikes-btn{
  background: darkblue;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#strikes-btn:active {
  background-color: grey; /* Change this color to the desired pressed color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#balls-btn{
  background: darkblue;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#balls-btn:active {
  background-color: grey; /* Change this color to the desired pressed color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#save-btn{
  background: darkblue;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#save-btn:active {
  background-color: grey; /* Change this color to the desired pressed color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#reset-btn{
  background: darkblue;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#reset-btn:active {
  background-color: grey; /* Change this color to the desired pressed color */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
